[project]
name = "rcsb-embedding-model"
version = "0.0.15"
authors = [
    { name="Joan Segura", email="joan.segura@rcsb.org" },
]
description = "Protein Embedding Model for Structure Search"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
license = "BSD-3-Clause"
license-files = ["LICEN[CS]E*"]
dependencies=[
    "esm >= 3.2.0",
    "torch >= 2.2.0",
    "lightning >= 2.5.0",
    "typer >= 0.15.0"
]

[project.urls]
Homepage = "https://github.com/rcsb/rcsb-embedding-model"
Issues = "https://github.com/rcsb/rcsb-embedding-model/issues"

[build-system]
requires = [
    "hatchling >= 1.14.1"
]

build-backend = "hatchling.build"

[project.scripts]
inference = "rcsb_embedding_model.cli.inference:app"
